<div class="body-login">
    <form action="" [formGroup]="form" (ngSubmit)="ingresar()">
    <div class="bodys">
        <div class="logoSpace">
            <img src="./assets/img/Logo.png" alt="">
        </div>
        <div class="form-login">
            <div class="form">
                <div class="message" *ngIf="mostrarMensaje">
                    <p>Usuario invalido verifique la información</p>
                </div>
                <div class="inputs">
                    <input type="email" name="" id="user" placeholder="Usuario:" formControlName = "user">
                    <input type="password" name="" id="pass" placeholder="Clave:" formControlName = "pass">
                </div>
                <div class="button">
                    <button type="submit">Entrar</button>
                </div>
            </div>
            <div class="options">
                <div class="card login-in">
                    <img src="./assets/img/user.png" alt="">
                    <span>Entrar</span>
                </div>
                <div class="card register">
                    <img src="./assets/img/register.png" alt="" (click)="irTo()">
                    <span>Registrarme</span>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>