<app-nav></app-nav>
<div class="container-main-info">
  <div class="col-3">
    <app-lateral-nav>
    </app-lateral-nav>
  </div>
  <div class="col-9">
    <div class="mensajeConfirmacion" *ngIf="mostrarMensaje">
      <div class="bodymensaje">
        <p>{{mensajeConfirmacion}}</p>
      </div>
    </div>
    <div class="spiner" *ngIf="mostrarSpiner">
      <mat-progress-spinner color="primary" mode="indeterminate">
     <!-- <mat-spinner ></mat-spinner> -->
     </mat-progress-spinner>
    </div>
    <app-accordion [elements]="element_data" [columns]="columns" [title]="title" [idComponent]="idComponent" [inputValue]="inputValue" (enviarDatos)="recibirDatos($event)">
    </app-accordion>
  </div>
</div>
  